body {
  font-family: "Open Sans Condensed", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  /* background: #303030; */
  background: #222831;
  color: #f5f5f5;
  font-size: 1.3rem;
  /* background-color: #ff5722; */
}

.cards-container {
  position: relative;
  z-index: 1;
}

.jumbotron {
  font-family: "Righteous", cursive;
}

.particles-js-canvas-el {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #ff5733;
}

.navbar {
  background-color: #ff5733;
}

.navbar-brand {
  font-family: "Righteous", cursive;
  font-size: 2.2rem;
  padding: 0;
}

.nav-link {
  padding: 0;
  font-size: 1.3rem;
}

.dropdown-item {
  font-size: 1.1rem;
}

/* CSS End */

.row {
  margin: 0.1rem;
}

.card {
  background: #424242;
  border: 0px;
  border-radius: 0.3rem;
  margin: 0 auto;
  box-shadow: 4px 4px 8px;
}

.shadow-lg {
  color: #20e0e0;
  box-shadow: 5px 5px rgba(0, 98, 90, 0.4), 10px 10px rgba(0, 98, 90, 0.3),
    15px 15px rgba(0, 98, 90, 0.2), 20px 20px rgba(0, 98, 90, 0.1),
    25px 25px rgba(0, 98, 90, 0.05) !important;
}
