/* For Footer */
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');


body {
  font-family: "Open Sans Condensed", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  /* background: #303030; */
  background: #222831;
  color: #f5f5f5;
  font-size: 1.2rem;
  /* background-color: #ff5722; */
}

article {
  line-height: 1.6rem;
}

.cards-container {
  position: relative;
  z-index: 1;
}

.jumbotron {
  font-family: "Righteous", cursive;
}

.particles-js-canvas-el {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #fa744f;
}

.navbar {
  background-color: #17706e;
}

.navbar-brand {
  font-family: "Righteous", cursive;
  font-size: 2.2rem;
  padding: 0;
}

.nav-link {
  padding: 0;
  font-size: 1.3rem;
  font-family: "Teko", sans-serif;
}

.dropdown-item {
  font-family: "Teko", sans-serif;
  font-size: 1.1rem;
}

/* CSS End */

.row {
  margin: 0.1rem;
}

.card {
  background: #424242;
  border: 0px;
  border-radius: 0.3rem;
  margin: 0 auto;
  box-shadow: 4px 4px 8px;
}

.shadow-lg {
  color: #20e0e0;
  box-shadow: 5px 5px rgba(0, 98, 90, 0.4), 10px 10px rgba(0, 98, 90, 0.3),
    15px 15px rgba(0, 98, 90, 0.2), 20px 20px rgba(0, 98, 90, 0.1),
    25px 25px rgba(0, 98, 90, 0.05) !important;
}

.aboutme-page-footer {
  position: absolute !important;
  bottom: 0;
  right: 0;
}

.footer {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px 5px 20px;
  margin: 0;
  background: #054241;
}

@media (min-width: 770px) {
  .img-ed-4 {
    width: 40%;
  }
}

/* Icon Colors Modification */
.fa-heart {
  color: red;
}

.fa-js {
  color: dodgerblue;
}

.fa-bootstrap {
  color: #9b6fdd;
}

/* .footer a {
  text-decoration:none;
  color: inherit;
} */

